<div class="hot-news-one-item">
    <img src="img/testimage.jpg" alt="test">
    <div class="hot-news-one-item-title">Ukraine</div>
    <div class="hot-news-one-item-content"> That's it. If it can be multiple lines, then it is somewhat more complicated. But there are solutions on http://pmob.co.uk/ Look for "vertical align".

        Since they tend to be hacks or adding complicated divs... I usually use a table with a single cell to do it... to make it as simple as possible.</div>
    <button class="news-button">More</button>
</div>