<div class="match-news-one-item">
    <div class="match-news-title"><h1>TITLE/DATE</h1></div>
    <div class="team-imgs">
        <img class="img-team1" src="img/team1.jpg" alt="test" height="200" width="300">
        <div class="match-news-score-box">
            <div class="match-news-score" id="match-news-team1-score">0</div>
            <div class="match-news-score">:</div>
            <div class="match-news-score" id="match-news-team2-score">0</div>
        </div>

        <img class="img-team2" src="img/team2.jpg" alt="test" height="200" width="300">
    </div>

    <div id="just-opacity-team1" class="just-opacity">
        <img  src="img/team1.jpg" alt="test" height="200" width="300">
    </div>
    <div id="just-opacity-team2" class="just-opacity">
        <img  src="img/team2.jpg" alt="test" height="200" width="300">
    </div>


    <div class="teams">
        <div class="match-news-teams" id="match-news-team1">Ukraine</div>

        <div class="match-news-teams" id="match-news-team2">Russia</div>
    </div>
    <div class="match-news-date">20.06.2019</div>
    <div  class="live">
        <iframe
                src="https://player.twitch.tv/?channel=dallas&muted=true"
                height="310"
                width="640"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
        </iframe>
    </div>
</div>